.hero {
    position: relative;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-overlay {
    position: absolute;
    bottom: -140px;
    right: -50px;
    text-align: right;
    font-family: 'Great Vibes', serif;
    padding-right: 40px;
}

.hero-overlay .name {
    font-size: 10em;
    margin: 0;
    position: relative;
    z-index: 2;
    background: linear-gradient(90deg, #CB9B51 0%, #F6E27A 0%, #F6F2C0 52%, #F6E27A 69%, #CB9B51 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.accommodations {
    padding: 40px 20px;
}

.hotel {
    display: flex;
    font-size: 1.5em;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hotel-image {
    width: 35%;
    margin-right: 20px;
}

.hotel-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hotel-details {
    justify-content: center;
}

.hotel-details h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #5A86AD;
}

.hotel-details p {
    line-height: 1.6;
    margin-bottom: 10px;
}

.hotel-p{
    font-size: 1.5em;
    margin-bottom: 10px;
}

.accommodations h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #5A86AD;
}

.hotel-h2{
    width: 100%;
    text-align: center;
    font-size: 1.8em;
    justify-content: center;
    align-items: center;
}
.accommodations .buttons{
    font-size: 1.25em;
    background-color: #5A86AD;
    color: #fff;
    padding: 10px 20px;

}

.accommodations p{
    margin: 6px 0px;
    margin-left: 100px;
    margin-right: 100px;
}

.hotel-button{
    text-align: center;
    justify-content: center;
}
.hoteldetails{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    margin-top: 3%;
}
.hoteldetails p{
    width: 100%;
    margin-top: 6px;
    margin-bottom:0px;  
}
