.heroBGfaq{
    background-image: url("/Happy.jpg");
    font-family: "Great Vibes", serif;
    height: 885px;
    background-size:contain;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    background-repeat: no-repeat;
    width: 1280px;
  }
  main{
    background-color: #5A86AD;
  }
  .hero-text-faq {
    font-size: 10em;
    font-family: 'Great Vibes', serif;
    background: linear-gradient(90deg, #CB9B51 0%, #F6E27A 0%, #F6F2C0 52%, #F6E27A 69%, #CB9B51 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 0px;
  }

.faq {
    padding: 40px 20px;
    padding: 5% 10%;
    font-family: 'Amiri', serif;
    text-align: left;
    background-color: #5A86AD;
    color: #fff;
}

.faq h2 {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 20px;
}

.faq p {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

.faq .question {
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.7em;
}

.faq .answer {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

@media (max-width: 768px) {
  .faq{
    padding: 0px;
  }
    .faq-content {
        padding: 10px;
    }
    .faq-question, .faq-answer {
        font-size: 1em;
        margin: 10px 0;
    }
    .heroBGfaq{
      background-image: none;
      background-color: #2e4559;
      align-items: center;
      width: 100%;
      max-height: 200px;
      padding: 0px;
      margin: 0px;
      }
      .hero-faq{
        height: 200px;
        justify-content: center;
        align-items: center;
        display: flex;
      }
      .hero-text-faq{
        padding-top: 10%;
        font-size: 5em;
        padding-right: 0px;
        padding-right: 10px;
      }
      .faqDiv{
        margin: 0px 20px;
        padding-bottom: 20px;
      }
      .faq h2{
       text-align: center;
      }
}
