.hero-faq img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-overlay-faq {
    position: absolute;
    bottom: -100px; /* Adjust to overlap the next section */
    left: 800px; /* Adjust to move the text to the right */
    z-index: 10; /* Ensure the text is above other elements */
}

.hero-text-faq {
    font-size: 10em;
    font-family: 'Great Vibes', serif;
    background: linear-gradient(90deg, #CB9B51 0%, #F6E27A 0%, #F6F2C0 52%, #F6E27A 69%, #CB9B51 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.faq {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Amiri', serif;
    text-align: left;
}

.faq h2 {
    font-size: 2.5em;
    color: #5A86AD;
    margin-bottom: 20px;
}

.faq p {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

.faq .question {
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.5em;
}

.faq .answer {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 1.25em;
}

@media (max-width: 768px) {
    .faq-content {
        padding: 10px;
    }
    .faq-question, .faq-answer {
        font-size: 1em;
        margin: 10px 0;
    }
    .hero-overlay-faq {
        bottom: -60px;
        left: 150px;
    }
    .hero-text-faq {
        font-size: 5em;
    }
}
