.hero-registry img {
  width: 100%;
  height: auto;
  display: block;
}

.hero-overlay-registry {
  position: absolute;
  bottom: 180px; /* Adjust to overlap the next section */
  right: 600px; /* Adjust to move the text to the right */
  z-index: 10; /* Ensure the text is above other elements */
}

.hero-text-registry {
  font-size: 10em;
  font-family: 'Great Vibes', serif;
  background: linear-gradient(90deg, #CB9B51 0%, #F6E27A 0%, #F6F2C0 52%, #F6E27A 69%, #CB9B51 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}


.registry {
    color: #fff;
    width: 100%;
    margin: 40px 0px 40px 0px;
}
  
  .registry h2 {
    font-size: 3em;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #CB9B51 0%, #F6E27A 0%, #F6F2C0 52%, #F6E27A 69%, #CB9B51 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  
  .registry-content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .zola-registry-embed {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    margin-top: 20px;
  }
  
  .zola-registry-embed:hover {
    background-color: #e7e7e7;
  }
  
  .zola-registry-iframe {
    height: auto; /* Adjust height as needed */
    width: 100%;
    border: none;
    overflow: hidden;
}

@media (max-width: 768px) {
  .hero-overlay {
      bottom: 10px;
      right: 10px;
  }
  .hero-text {
      font-size: 5em;
  }
  .hero-overlay-registry {
    bottom: 600px;
    right: -75px;
  }
}
