.heroBGregistry{
  background-image: url("/CloseFlowers.jpg");
  font-family: "Great Vibes", serif;
  height: 975px;
  background-size:cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  background-repeat: no-repeat;
  width: 1280px;
}

.hero-text-registry {
  font-size: 10em;
  font-family: 'Great Vibes', serif;
  background: linear-gradient(90deg, #CB9B51 0%, #F6E27A 0%, #F6F2C0 52%, #F6E27A 69%, #CB9B51 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}


.registry {
    color: #fff;
    width: 100%;
    margin: 40px 0px 40px 0px;
}
  
  .registry h2 {
    font-size: 3em;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #CB9B51 0%, #F6E27A 0%, #F6F2C0 52%, #F6E27A 69%, #CB9B51 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  
  .registry-content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .zola-registry-embed {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    margin-top: 20px;
  }
  
  .zola-registry-embed:hover {
    background-color: #e7e7e7;
  }
  
  .zola-registry-iframe {
    height: auto; /* Adjust height as needed */
    width: 100%;
    border: none;
    overflow: hidden;
}

@media (max-width: 768px) {
  .heroBGregistry{
    background-image: none;
    background-color: #2e4559;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 200px;
    padding: 0px;
    margin: 0px;
  }
  .hero-registry{
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .hero-text-registry{
    padding-top: 10%;
    font-size: 5em;
    padding-right: 0px;
  }
}
