/* RSVP Page Styles */
.hero {
    position: relative;
    overflow: hidden; /* Ensure the hero section contains all elements */
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-overlay {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    text-align: right; /* Align text to the right */
    font-family: 'Great Vibes', serif;
    padding-right: 40px; /* Add padding to prevent text from being cut off */
}

.hero-overlay .hero-text {
    font-size: 10em;
    margin: 0;
    position: relative; /* Ensure it's above the ampersand */
    z-index: 2; /* Higher z-index to be above the ampersand */
    background: linear-gradient(90deg, #CB9B51 0%, #F6E27A 0%, #F6F2C0 52%, #F6E27A 69%, #CB9B51 100%);
    -webkit-background-clip: text;
    color: transparent;
}

form {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #5A86AD;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

form input[type="radio"] {
    width: auto;
    margin-right: 10px;
}

form ul {
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
}

form ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

form button {
    width: 100%;
    padding: 15px;
    background-color: #5A86AD;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

form button:hover {
    background-color: #4a6b8c;
}

footer {
    background-color: #fff;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    bottom: 0;
    width: 100%;
    font-size: 1.5em;
}
