/* RSVP Page Styles */
.hero-rsvp img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-overlay-rsvp {
    position: absolute;
    bottom: 350px; /* Adjust to overlap the next section */
    right: 600px; /* Adjust to move the text to the right */
    z-index: 10; /* Ensure the text is above other elements */
}

.hero-text-rsvp {
    font-size: 10em;
    font-family: 'Great Vibes', serif;
    background: linear-gradient(90deg, #CB9B51 0%, #F6E27A 0%, #F6F2C0 52%, #F6E27A 69%, #CB9B51 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
    padding-right: 50px;
    padding-top: 20px;
}

.form-div{
    width: 100%;
    background-color: #5A86AD;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
form {
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.25em;
    color: #fff;
}

input[type="text"], input[type="number"], input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

.radio-group {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.radio-group li {
    margin-right: 20px;
}

.submit-button {
    background-color: #fff;
    color: #000;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    font-family: 'Amiri', serif;
    border-radius: 5px;
}

.submit-button:hover {
    background-color: #D58A94;
    color: #fff;
}

.button-div{
    text-align: right;
}

@media (max-width: 768px) {
    .hero-overlay-rsvp {
        bottom: 10px;
        right: 10px;
    }
    .hero-text-rsvp {
        font-size: 5em;
        padding-right: 20px;
    }
    .hero-overlay-rsvp{
        bottom: 725px;
    }
}
