---
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/accomodations.css';
const title = "Accommodations";
---

<MainLayout title={title}>
    <section class="hero-accommodations">
		<div class="heroBGaccommodations">
			<h1 class="hero-text-accommodations">Accommodations</h1>
		</div>
	</section>

    <section class="accommodations">
        <div class="hotel-h2">
        <h2>Historic Davenport Hotel</h2>
        </div>
        <div class="hotel">
            <div class="hotel-image">
                <img src="/Davenport.jpg" alt="Historic Davenport Hotel">
            </div>
            <div class="hotel-details">
                <div class="hoteldetails">
                <p class="bold">10 S Post St.</p>
                <p>(800) 899-1482</p>
                <p>1.2 miles from the venue</p>
                <div class="hotel-button">
                    <a target="_blank" href="https://www.davenporthotelcollection.com/the-historic-davenport-hotel/">
                <button class="buttons" id="global-button">Website</button>
                </a>
                </div>
            </div>
            </div>
        </div>
        <p class="hotel-p">Welcome to The Historic Davenport Hotel, Spokane's grandest and most iconic destination. Brilliantly reinvented for the 21st century, immerse your stay in the glamour of 100 years of history, glimmering with renewed luster. You will feel genuine hospitality from our team, ensuring your stay is filled with endlessly remarkable memories.</p>


        <div class="hotel-h2">
            <h2>Courtyard Spokane Downtown</h2>
            </div>
            <div class="hotel" id="rightImageHotel">
                <div class="hotel-details hd2">
                    <div class="hoteldetails">
                    <p class="bold">401 N Riverpoint Blvd</p>
                    <p>(509) 456-7600</p>
                    <p>2.4 miles from the venue</p>
                    <div class="hotel-button">
                        <a target="_blank" href="https://www.marriott.com/en-us/hotels/gegch-courtyard-spokane-downtown-at-the-convention-center/overview/">
                    <button class="buttons" id="global-button">Website</button>
                    </a>
                    </div>
                </div>
                </div>
                <div class="hotel-image">
                    <img src="/Courtyard.jpg" alt="Historic Davenport Hotel">
                </div>
            </div>
            <p class="hotel-p">Courtyard Spokane Downtown at the Convention Center welcomes you with exceptional service and a terrific location. Our modern downtown Spokane, WA, hotel is located along the riverfront, near popular attractions including Gonzaga University and River Park Square Shopping Mall. After a day of work or play, retreat to spacious rooms and suites featuring complimentary Wi-Fi.</p>
            
            <div class="hotel-h2">
                <h2>The Ruby River Hotel</h2>
                </div>
        <div class="hotel">
            <div class="hotel-image">
                <img src="/Ruby.jpg" alt="Ruby River Hotel">
            </div>
            <div class="hotel-details">
                <p class="bold">700 N Division St.</p>
                <p>(509) 326-5577</p>
                <p>2.6 miles from the venue</p>
                <div class="hotel-button">
                    <a target="_blank" href="https://rubyriverhotelspokane.com/">
                    <button class="buttons" id="global-button">Website</button>
                </a>
                </div>
            </div>
        </div>
        <p class="hotel-p">Discover the gem of the city, the Ruby River Hotel, nestled on eight acres along the picturesque Spokane River. As a locally owned and operated establishment under Ruby Hospitality, we extend a warm welcome to both tourists and locals seeking an exceptional retreat in downtown Spokane. With 241 inviting guest rooms and suites, along with over 3,000 square feet of versatile meeting and event spaces, the Ruby River Hotel caters to all your needs.</p>
    </section>
</MainLayout>
