---
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/accomodations.css';
---

<MainLayout>
    <section class="hero">
        <img src="/RiverFrontPark.jpg" alt="River Front Park">
        <div class="hero-overlay">
            <h1 class="hero-text">Accommodations</h1>
        </div>
    </section>

    <section class="accommodations">
        <div class="hotel">
            <div class="hotel-image">
                <img src="/Davenport.jpg" alt="Historic Davenport Hotel">
            </div>
            <div class="hotel-details">
                <h2>Historic Davenport Hotel</h2>
                <p>Welcome to The Historic Davenport Hotel, Spokane’s grandest and most iconic destination. Brilliantly reinvented for the 21st century, immerse your stay in the glamour of 100 years of history, glimmering with renewed luster. You will feel genuine hospitality from our team, ensuring your stay is filled with endlessly remarkable memories.</p>
                <p>Address: 10 S Post St.</p>
                <p>Phone Number: (800) 899-1482</p>
                <p>Distance from venue: 1.2 miles</p>
            </div>
        </div>

        <div class="hotel">
            <div class="hotel-image">
                <img src="/Courtyard.jpg" alt="Courtyard Spokane Downtown">
            </div>
            <div class="hotel-details">
                <h2>Courtyard Spokane Downtown</h2>
                <p>Courtyard Spokane Downtown at the Convention Center welcomes you with exceptional service and a terrific location. Our modern downtown Spokane, WA, hotel is located along the riverfront, near popular attractions including Gonzaga University and River Park Square Shopping Mall. After a day of work or play, retreat to spacious rooms and suites featuring complimentary Wi-Fi.</p>
                <p>Address: 401 N Riverpoint Blvd</p>
                <p>Phone Number: (509) 456-7600</p>
                <p>Distance from venue: 2.4 miles</p>
            </div>
        </div>

        <div class="hotel">
            <div class="hotel-image">
                <img src="/Ruby.jpg" alt="Ruby River Hotel">
            </div>
            <div class="hotel-details">
                <h2>The Ruby River Hotel</h2>
                <p>Discover the gem of the city, the Ruby River Hotel, nestled on eight acres along the picturesque Spokane River. As a locally owned and operated establishment under Ruby Hospitality, we extend a warm welcome to both tourists and locals seeking an exceptional retreat in downtown Spokane. With 241 inviting guest rooms and suites, along with over 3,000 square feet of versatile meeting and event spaces, the Ruby River Hotel caters to all your needs.</p>
                <p>Address: 700 N Division St.</p>
                <p>Phone Number: (509) 326-5577</p>
                <p>Distance from venue: 2.6 miles</p>
            </div>
        </div>
    </section>
</MainLayout>
