---
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/faq.css';
const title = "FAQ"
---

<MainLayout title={title}>
    <section class="hero">
        <img src="/Spin.jpg" alt="Olympia Proposal">
        <div class="hero-overlay-faq">
            <h1 class="hero-text-faq">FAQ</h1>
        </div>
    </section>

    <section class="faq">
        <h2>Frequently Asked Questions</h2>
        
        <div class="question">Can I bring our children to the wedding?</div>
        <div class="answer">While we absolutely love children, we have limited seating at the Patsy Clark.</div>
        
        <div class="question">What is the attire?</div>
        <div class="answer">It’s a formal wedding, but please come in whatever makes you feel comfortable.</div>
        
        <div class="question">Will there be food?</div>
        <div class="answer">There will be many delicious food choices and desserts. The meal is being provided by a Middle Eastern catering company. There will be vegetarian options.</div>
        
        <div class="question">Can I RSVP online or should I mail it?</div>
        <div class="answer">You may RSVP either online or by mail. Please respond whenever you are able, despite the fact that the deadline on the RSVP says July 8th.</div>
        
        <div class="question">What will be the parking at the venue?</div>
        <div class="answer">The Patsy Clark is located in the historic Browns Addition in Spokane, which is in a downtown neighborhood. Parking is street parking and there are no meters.</div>
        
        <div class="question">Do Gabby and Justin have a new address?</div>
        <div class="answer">
            Justin Mitchell & Gabby Alvarez<br />
            102 East Farwell, Apt 102<br />
            Spokane, WA 99218
        </div>
        
        <div class="question">What time should I arrive?</div>
        <div class="answer">The ceremony starts at 3:00. Please arrive beforehand.</div>
    </section>
</MainLayout>