---
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/ourstory.css';
const  title  = "Our Story"
---

<MainLayout title={title}>
    <section class="hero">
        <img src="/Proposal.jpg" alt="Olympia Proposal">
        <div class="hero-overlay-story">
            <h1 class="hero-text-story">Our Story</h1>
        </div>
    </section>

    <section class="story">
        <p>Gabriella and Justin met at the YMCA Youth & Government program in 2015. They spent the entire summer together and two years later, Justin wrote Gabby a bill, officially asking her out on a date with the entire Alvarez family debating the bill. In 2018, Gabby won the election for YMCA Youth Governor, and Justin joined her as her Chief of Staff, working side by side in Gabby's Governor's Office during the 2019 session. Youth & Government continues to play an important role in their lives as they both are now advisors with the program. It was only fitting that right before the Governor's Ball, Justin proposed in front of Capitol Lake, Olympia, with the entire Spokane delegation team in attendance. 
        </p>
    </section>
    <section class="photo-grid">
        

<div class="container">
    <figure>
      <img src="/images/GAJ.jpg" alt="GAJ" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
      <img src="/images/GAJBeach.jpeg" alt="GAJ Beach" /> 
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
      <img src="/images/GAJBiltmore.jpeg" alt="GAJ Biltmore" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
      <img src="/images/GAJBlurry.jpeg" alt="GAJ Blurry" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
      <img src="/images/GAJCandles.jpg" alt="GAJ Candles" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
      <img src="/images/GAJCheekKiss.jpeg" alt="GAJ Cheek Kiss" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
      <img src="/images/Birthday.jpeg" alt="Birthday" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
      <img src="/images/Couch.jpeg" alt="Couch" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
      <img src="/images/Fair.jpg" alt="Fair" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
      <img src="/images/Football.jpeg" alt="Football" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
      <img src="/images/GAJEscape.jpeg" alt="GAJ Escape" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
      <img src="/images/GAJFirstPhoto.jpg" alt="GAJ First Photo" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
      <img src="/images/GAJGovBall.jpg" alt="GAJ Gov Ball" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
      <img src="/images/GAJHaloween.jpg" alt="GAJ Haloween" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
      <img src="/images/GAJHike.jpeg" alt="GAJ Hike" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
      <img src="/images/GAJIceCream.jpeg" alt="GAJ Ice Cream" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
      <img src="/images/GAJKitchen.jpeg" alt="GAJ Kitchen" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
      <img src="/images/GAJCona.jpg" alt="GAJ Cona" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
      <img src="/images/GAJDC.jpeg" alt="GAJ DC" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
        <img src="/images/GAJShadow.jpg" alt="GAJ Shadow" />
        <figcaption><a href="#"></a></figcaption>
      </figure>
    <figure>
      <img src="/images/GAJDogPhotography.jpg" alt="GAJ Dog Photography" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
      <img src="/images/JAGGovCab.jpg" alt="JAG Gov Cab" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
      <img src="/images/Tongue.jpeg" alt="Tongue" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
        <img src="/images/10.jpeg" alt="GAJ Sun" />
        <figcaption><a href="#"></a></figcaption>
      </figure>
      <figure>
        <img src="/images/11.jpeg" alt="GAJ Sun" />
        <figcaption><a href="#"></a></figcaption>
      </figure>
      <figure>
        <img src="/images/12.jpeg" alt="GAJ Sun" />
        <figcaption><a href="#"></a></figcaption>
      </figure>
    <figure>
      <img src="/images/Upsidedown.jpg" alt="Upside Down" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
      <img src="/images/Yard.jpeg" alt="Yard" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
      <img src="/images/GAJDance.jpg" alt="GAJ Dance" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
      <img src="/images/GAJMontana.jpeg" alt="GAJ Montana" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
      <img src="/images/GAJOregon.jpeg" alt="GAJ Oregon" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
      <img src="/images/GAJSilly.jpeg" alt="GAJ Silly" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
      <img src="/images/GAJSun.jpeg" alt="GAJ Sun" />
      <figcaption><a href="#"></a></figcaption>
    </figure>
    <figure>
        <img src="/images/1.jpeg" alt="GAJ Sun" />
        <figcaption><a href="#"></a></figcaption>
      </figure>
      <figure>
        <img src="/images/2.jpeg" alt="GAJ Sun" />
        <figcaption><a href="#"></a></figcaption>
      </figure>
      <figure>
        <img src="/images/3.jpeg" alt="GAJ Sun" />
        <figcaption><a href="#"></a></figcaption>
      </figure>
      <figure>
        <img src="/images/4.jpeg" alt="GAJ Sun" />
        <figcaption><a href="#"></a></figcaption>
      </figure>
      <figure>
        <img src="/images/5.jpeg" alt="GAJ Sun" />
        <figcaption><a href="#"></a></figcaption>
      </figure>
      <figure>
        <img src="/images/6.jpeg" alt="GAJ Sun" />
        <figcaption><a href="#"></a></figcaption>
      </figure>
      <figure>
        <img src="/images/7.jpeg" alt="GAJ Sun" />
        <figcaption><a href="#"></a></figcaption>
      </figure>
      <figure>
        <img src="/images/8.jpeg" alt="GAJ Sun" />
        <figcaption><a href="#"></a></figcaption>
      </figure>
      <figure>
        <img src="/images/9.jpeg" alt="GAJ Sun" />
        <figcaption><a href="#"></a></figcaption>
      </figure>
      <figure>
        <img src="/images/13.jpeg" alt="GAJ Sun" />
        <figcaption><a href="#"></a></figcaption>
      </figure>
      <figure>
        <img src="/images/14.jpeg" alt="GAJ Sun" />
        <figcaption><a href="#"></a></figcaption>
      </figure>
      <figure>
        <img src="/images/15.jpeg" alt="GAJ Sun" />
        <figcaption><a href="#"></a></figcaption>
      </figure>
      <figure>
        <img src="/images/16.jpeg" alt="GAJ Sun" />
        <figcaption><a href="#"></a></figcaption>
      </figure>
  </div>
<!-- The Modal/Lightbox -->
<!-- The Modal/Lightbox -->
<div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">
      <div class="mySlides">
        <div class="numbertext">1 / 46</div>
        <img src="/images/GAJ.jpg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">2 / 46</div>
        <img src="/images/GAJBeach.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">3 / 46</div>
        <img src="/images/GAJBiltmore.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">4 / 46</div>
        <img src="/images/GAJBlurry.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">5 / 46</div>
        <img src="/images/GAJCandles.jpg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">6 / 46</div>
        <img src="/images/GAJCheekKiss.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">7 / 46</div>
        <img src="/images/Birthday.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">8 / 46</div>
        <img src="/images/Couch.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">9 / 46</div>
        <img src="/images/Fair.jpg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">10 / 46</div>
        <img src="/images/Football.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">11 / 46</div>
        <img src="/images/GAJEscape.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">12 / 46</div>
        <img src="/images/GAJFirstPhoto.jpg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">13 / 46</div>
        <img src="/images/GAJGovBall.jpg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">14 / 46</div>
        <img src="/images/GAJHaloween.jpg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">15 / 46</div>
        <img src="/images/GAJHike.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">16 / 46</div>
        <img src="/images/GAJIceCream.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">17 / 46</div>
        <img src="/images/GAJKitchen.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">18 / 46</div>
        <img src="/images/GAJCona.jpg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">19 / 46</div>
        <img src="/images/GAJDC.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">20 / 46</div>
        <img src="/images/GAJShadow.jpg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">21 / 46</div>
        <img src="/images/GAJDogPhotography.jpg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">22 / 46</div>
        <img src="/images/JAGGovCab.jpg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">23 / 46</div>
        <img src="/images/Tongue.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">24 / 46</div>
        <img src="/images/10.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">25 / 46</div>
        <img src="/images/11.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">26 / 46</div>
        <img src="/images/12.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">27 / 46</div>
        <img src="/images/Upsidedown.jpg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">28 / 46</div>
        <img src="/images/Yard.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">29 / 46</div>
        <img src="/images/GAJDance.jpg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">30 / 46</div>
        <img src="/images/GAJMontana.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">31 / 46</div>
        <img src="/images/GAJOregon.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">32 / 46</div>
        <img src="/images/GAJSilly.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">33 / 46</div>
        <img src="/images/GAJSun.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">34 / 46</div>
        <img src="/images/1.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">35 / 46</div>
        <img src="/images/2.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">36 / 46</div>
        <img src="/images/3.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">37 / 46</div>
        <img src="/images/4.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">38 / 46</div>
        <img src="/images/5.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">39 / 46</div>
        <img src="/images/6.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">40 / 46</div>
        <img src="/images/7.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">41 / 46</div>
        <img src="/images/8.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">42 / 46</div>
        <img src="/images/9.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">43 / 46</div>
        <img src="/images/13.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">44 / 46</div>
        <img src="/images/14.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">45 / 46</div>
        <img src="/images/15.jpeg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">46 / 46</div>
        <img src="/images/16.jpeg" style="width:100%">
      </div>
      <!-- Next/previous controls -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
      <!-- Caption text -->
      <div class="caption-container">
        <p id="caption"></p>
      </div>
    </div>
  </div>
  

  <script src="../scripts/lightbox.js"></script>
    </section>
</MainLayout>
