---
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/ourstory.css';
---

<MainLayout>
    <section class="hero">
        <img src="/Proposal.jpg" alt="Olympia Proposal">
        <div class="hero-overlay-story">
            <h1 class="hero-text-story">Our Story</h1>
        </div>
    </section>

    <section class="story">
        <p>Gabriella and Justin met at the YMCA Youth & Government program in 2015. They spent the entire summer together and two years later, Justin wrote Gabby a bill, officially asking her out on a date with the entire Alvarez family debating the bill. In 2018, Gabby won the election for YMCA Youth Governor, and Justin joined her as her Chief of Staff, working side by side in Gabby's Governor's Office during the 2019 session. Youth & Government continues to play an important role in their lives as they both are now advisors with the program. It was only fitting that right before the Governor's Ball, Justin proposed in front of Capitol Lake, Olympia, with the entire Spokane delegation team in attendance. 
        </p>
    </section>
    <section class="photo-grid">
        

<div class="container">
    <figure>
      <img src="https://assets.codepen.io/12005/windmill.jpg" alt="A windmill" />
      <figcaption><a href="#">1</a></figcaption>
    </figure>
    <figure>
      <img src="https://assets.codepen.io/12005/suspension-bridge.jpg" alt="The Clifton Suspension Bridge" />
      <figcaption><a href="#">2</a></figcaption>
    </figure>
    <figure>
      <img src="https://assets.codepen.io/12005/sunset.jpg" alt="Sunset and boats" />
      <figcaption><a href="#">3</a></figcaption>
    </figure>
    <figure>
      <img src="https://assets.codepen.io/12005/snowy.jpg" alt="a river in the snow" />
      <figcaption><a href="#">4</a></figcaption>
    </figure>
    <figure>
      <img src="https://assets.codepen.io/12005/bristol-balloons1.jpg" alt="a single checked balloon" />
      <figcaption><a href="#">5</a></figcaption>
    </figure>
    <figure>
      <img src="https://assets.codepen.io/12005/dog-balloon.jpg" alt="a hot air balloon shaped like a dog" />
      <figcaption><a href="#">6</a></figcaption>
    </figure>
    <figure>
      <img src="https://assets.codepen.io/12005/abq-balloons.jpg" alt="View from a hot air balloon of other balloons" />
      <figcaption><a href="#">7</a></figcaption>
    </figure>
    <figure>
      <img src="https://assets.codepen.io/12005/disney-balloon.jpg" alt="a balloon fairground ride" />
      <figcaption><a href="#">8</a></figcaption>
    </figure>
    <figure>
      <img src="https://assets.codepen.io/12005/bristol-harbor.jpg" alt="sunrise over a harbor" />
      <figcaption><a href="#">9</a></figcaption>
    </figure>
    <figure>
      <img src="https://assets.codepen.io/12005/bristol-balloons2.jpg" alt="three hot air balloons in a blue sky" />
      <figcaption><a href="#">10</a></figcaption>
    </figure>
    <figure>
    <img src="https://assets.codepen.io/12005/toronto.jpg" alt="the Toronto light up sign at night" />
      <figcaption><a href="#">11</a></figcaption>
    </figure>
  </div>
<!-- The Modal/Lightbox -->
<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">
    <div class="mySlides">
      <div class="numbertext">1 / 11</div>
      <img src="https://assets.codepen.io/12005/windmill.jpg" style="width:100%">
    </div>
    <div class="mySlides">
      <div class="numbertext">2 / 11</div>
      <img src="https://assets.codepen.io/12005/suspension-bridge.jpg" style="width:100%">
    </div>
    <div class="mySlides">
      <div class="numbertext">3 / 11</div>
      <img src="https://assets.codepen.io/12005/sunset.jpg" style="width:100%">
    </div>
    <div class="mySlides">
      <div class="numbertext">4 / 11</div>
      <img src="https://assets.codepen.io/12005/snowy.jpg" style="width:100%">
    </div>
    <div class="mySlides">
      <div class="numbertext">5 / 11</div>
      <img src="https://assets.codepen.io/12005/bristol-balloons1.jpg" style="width:100%">
    </div>
    <div class="mySlides">
      <div class="numbertext">6 / 11</div>
      <img src="https://assets.codepen.io/12005/dog-balloon.jpg" style="width:100%">
    </div>
    <div class="mySlides">
      <div class="numbertext">7 / 11</div>
      <img src="https://assets.codepen.io/12005/abq-balloons.jpg" style="width:100%">
    </div>
    <div class="mySlides">
      <div class="numbertext">8 / 11</div>
      <img src="https://assets.codepen.io/12005/disney-balloon.jpg" style="width:100%">
    </div>
    <div class="mySlides">
      <div class="numbertext">9 / 11</div>
      <img src="https://assets.codepen.io/12005/bristol-harbor.jpg" style="width:100%">
    </div>
    <div class="mySlides">
      <div class="numbertext">10 / 11</div>
      <img src="https://assets.codepen.io/12005/bristol-balloons2.jpg" style="width:100%">
    </div>
    <div class="mySlides">
      <div class="numbertext">11 / 11</div>
      <img src="https://assets.codepen.io/12005/toronto.jpg" style="width:100%">
    </div>
    <!-- Next/previous controls -->
    <a class="prev">&#10094;</a>
    <a class="next">&#10095;</a>
    <!-- Caption text -->
    <div class="caption-container">
      <p id="caption"></p>
    </div>
  </div>
</div>

  <script src="../scripts/lightbox.js"></script>
    </section>