---
import MainLayout from '../layouts/MainLayout.astro';
const pageTitle = "Our Wedding Registry";
import '../styles/registry.css';
const title = "Registry";
---

<MainLayout title={title}>
  <section class="hero-registry">
		<img src="/CloseFlowers.jpg" alt="Kiss">
		<div class="hero-overlay-registry">
			<h1 class="hero-text-registry">Registry.</h1>
		</div>
	</section>
  <section class="registry">
    <div class="zola-registry-embed" data-registry-key="justinandgabriellaseptember7" data-max-items="20"></div>
    <script src="../scripts/registry.js"></script>
</MainLayout>
