---
import '../styles/RSVP.css';
import RSVPform from '../components/RSVPform.astro';
const pageTitle = "R.S.V.P.";
import '../styles/global.css'
import MainLayout from '../layouts/MainLayout.astro';
const title = "R.S.V.P.";
---
<MainLayout title={title}>
	<section class="hero-rsvp">
		<div class="heroBGRSVP">
			<h1 class="hero-text-rsvp">R.S.V.P.</h1>
		</div>
	</section>
		<RSVPform />
	<script>
		import handleRsvpFormSubmission from '../scripts/handleRSVP.js';
		const form = document.getElementById('rsvp-form');
		if (form){
			form.addEventListener('submit', handleRsvpFormSubmission);
		} else {
			console.error('Form element not found!');
		}
	</script>
</html>
</MainLayout>