---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
    <section class="hero">
        <img src="/PatsyClarkMansion.jpg" alt="Patsy Clark Mansion">
        <div class="hero-overlay-venue">
            <h1 class="hero-text-venue">Venue</h1>
        </div>
    </section>
    <section class="venue">
        <div class="venue-content">
            <div class="venue-details">
                <h3>History</h3>
                <p>Patsy Clark was born in Ireland in 1852 on St. Patrick's Day. At 18, he made his way to America aboard the SS Marathon. Arriving in New York with just a few dollars to his name, Patsy set off for the west to make his fortune. This hard-working young man devoted his energy and attention to the mining business and, by the time he was in his late 20s, Patsy was one of the best-known mining men in the United States.</p>
                <div class="imageandp1">
                    <img class="venue-image" src="/PatsyClarkStairs.jpg" alt="Patsy Clark Mansion stairs">
                    <p>In 1887 Patsy and his family arrived in Spokane, Washington, where he opened mines in Washington, Idaho and Canada. Having already made his fortune, Patsy hired the famous Kirkland Cutter to design one of the most extravagant mansions in the Pacific Northwest. Cutter went abroad to gather inspiration and furnishings, and when he completed the massive 12,000-foot home in 1898, it was the talk of the town, if not the entire west coast. With Spanish and Moorish influences, the 3 ½ story extravaganza featured rounded corner towers and arched loggias. The builders imported exterior sandstone from Italy and produced the brick in St. Louis, Missouri. Custom made Tiffany lamps and chandeliers made in New York, onyx fireplaces, 14-foot stained glass windows, golden-lined chairs, silk curtains, and a grandfather clock that was said to have cost $17,000 were all featured in the interior. Behind the mansion was the combination of carriage house and stable. Sparing no expense, the mansion and its furnishing cost $13,000,000.</p>
                </div>
                <div class="imageandp2">
                    <img class="venue-image2" src="/PatsyClarkLivingRoom.jpg" alt="Room in the patsy clark">
                    <p>After Patsy Clark's passing in 1915 and his wife's passing in 1926, the mansion changed many hands. A Spokane investor group, Patsy Clark LLC, purchased the mansion when it was put up for sale in late 2019. The group is dedicated to preserving and further restoring the property. Steve DeWalt, an investor group member, said, “Our goal is to continue protecting and preserving this property and to explore a variety of ways to enable the public to experience and appreciate this unmistakable landmark more fully.”</p>
                </div>
                <p>Placed on the National Historic Register in 1975, the mansion is in Browne's Addition Historic District in Spokane, Washington.</p>
            </div>
        </div>
    </section>
    <section class="venue-info">
        <div class="venue-info-content">
            <img class="venue-info-image" src="/HistoricPatsy.jpg" alt="Patsy Clark Mansion Room">
            <div class="venue-info-details">
                <p>Patsy Clark Mansion</p>
                <p>2208 W 2nd Ave,</p> 
                <p>Spokane, WA 99201</p>
                <button class="map-button">Map</button>
            </div>
        </div>
    </section>
</MainLayout>
