---
---

<section class="countdown">
    <div class="timer">
        <div><span id="days">00</span> Days</div>
        <div><span id="hours">00</span> Hours</div>
        <div><span id="minutes">00</span> Minutes</div>
        <div><span id="seconds">00</span> Seconds</div>
    </div>
</section>

<script src="/src/scripts/countdown.js" type="module"></script>
