---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
---
<header>
  <nav>
    <Hamburger onclick={toggleMenu}/>
    <Navigation />
  </nav>
</header>
<script>
  function toggleMenu() {
      let menu = document.querySelector('.menu');
      menu.classList.toggle('open');
    }
</script>