---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
---
<header>
  <nav>
<<<<<<< HEAD
<<<<<<< HEAD
    <Hamburger />
    <Navigation />
  </nav>
</header>
=======
    <Hamburger onclick={toggleMenu}/>
    <Navigation />
  </nav>
</header>
<script>
  function toggleMenu() {
      let menu = document.querySelector('.menu');
      menu.classList.toggle('open');
    }
</script>
>>>>>>> parent of fd0d3a7 (Gotta fix)
=======
    <Hamburger />
    <Navigation />
  </nav>
</header>
>>>>>>> parent of a2b71c7 (the start)
