---
---
<header>
    <div class="header-content">
        <img src="/hamburger.jpg" alt="Menu" class="hamburger-icon" id="hamburger-icon">
        <nav id="nav-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/rsvp">RSVP</a></li>
                <li><a href="/registry">Registry</a></li>
                <li><a href="/accommodations">Accommodations</a></li>
                <li><a href="/venue">Venue</a></li>
                <li><a href="/ourstory">Our Story</a></li>
                <li><a href="/faq">FAQ</a></li>
            </ul>
        </nav>
    </div>
    <div class="countdown">
        <div><span id="days">00</span> Days</div>
        <div><span id="hours">00</span> Hours</div>
        <div><span id="minutes">00</span> Minutes</div>
        <div><span id="seconds">00</span> Seconds</div>
    </div>
</header>
<script src="/src/scripts/countdown.js"></script>
<script src="/src/scripts/menu.js"></script>
