---
---

<header>
  <div class="header-content">
      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/rsvp">RSVP</a></li>
              <li><a href="/registry">Registry</a></li>
              <li><a href="/accommodations">Accommodations</a></li>
              <li><a href="/venue">Venue</a></li>
              <li><a href="/ourstory">Our Story</a></li>
          </ul>
      </nav>
  </div>
</header>
<script src="/src/scripts/countdown.js"></script>