---
---

<header>
  <div class="header-content">
      <nav>
          <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">RSVP</a></li>
              <li><a href="#">Registry</a></li>
              <li><a href="#">Accommodations</a></li>
              <li><a href="#">Venue</a></li>
              <li><a href="#">Our Story</a></li>
          </ul>
      </nav>
  </div>
</header>
<script src="/src/scripts/countdown.js"></script>