---
---

<section class="hero">
    <img src="/JustinAndGabbyLake.jpg" alt="Justin and Gabby Lake">
    <div class="hero-overlay">
        <h1 class="name">Gabriella</h1>
        <h1 class="ampersand">&</h1>
        <h1 class="name">Justin</h1>
    </div>
</section>
