---
---

<section class="intro">
    <div class="intro-content">
    <h2>A Note from the Bride & Groom</h2>
    <p>We are so excited to share this important day with all of you, as we celebrate not just a wedding, but a lifelong commitment that we pray will be filled with laughter, adventure, and a lot of love.</p>
    <p>On this site, you can find information on our venue, accommodations, registry, and an online RSVP. You may RSVP either online or by mail. Please respond whenever you are able, despite the fact that the deadline on the RSVP says July 8th.</p>
    <p>Each one of you has played an important role in our story. You have helped shape who we are as individuals. We look forward to seeing you at our wedding and if you are not able to attend, we would appreciate your blessing as we now walk on this life journey together.</p>
    <p class="love">With Love,</p>
    <p class="love">Justin & Gabriella</p>
</div>
</section>
<script src="/src/scripts/countdown.js"></script>
