---
---
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> parent of a2b71c7 (the start)
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/rsvp">RSVP</a>
<<<<<<< HEAD
  </div>
=======
<nav>
  <ul>
    <li>Home</li>
    <li>RSVP</li>
    <li>Registry</li>
    <li>Accommodations</li>
  </ul>
</nav>
<div class="countdown">
  <span id="days">00</span> :
  <span id="hours">00</span> :
  <span id="minutes">00</span> :
  <span id="seconds">00</span>
</div>
>>>>>>> parent of fd0d3a7 (Gotta fix)
=======
  </div>
>>>>>>> parent of a2b71c7 (the start)
