---
import handleRsvpFormSubmission from "../scripts/handleRSVP";
---
<div class="form-div">
<form id="rsvp-form" onsubmit="handleRsvpFormSubmission(event)">
    <div class="rsvpNote"><p>You may RSVP either online or by mail. Please respond whenever you are able, despite the fact that the deadline on the RSVP says July 8th.</p></div>
        <div class="form-group">
            <label for="name">Name: </label>
            <input type="text" id="name" name="name" placeholder="First Name & Last Name" required>
        </div>
        <div class="form-group">
            <label for="guests">Number of Guests: </label>
            <input type="number" id="guests" name="guests" placeholder="2" required>
        </div>
        <div class="form-group">
            <label for="number">Phone Number: </label>
            <input type="text" id="number" name="number" placeholder="999-999-9999" required>
        </div>
        <div class="form-group">
            <ul class="radio-group">
                <li>
                    <input type="radio" id="accepts" name="response" value="Joyfully Accepts" required>
                    <label for="accepts">Joyfully accepts</label>
                </li>
                <li>
                    <input type="radio" id="declines" name="response" value="Regretfully Declines" required>
                    <label for="declines">Regretfully declines</label>
                </li>
            </ul>
        </div>
        <div class="button-div">
        <button type="submit" class="submit-button">Submit</button>
        </div>
    </form>
</div>