---
---

<section class="wedding-details">
    <div class="details-wrapper">
        <div class="detailsAndTitle">
        <h2>Wedding Details</h2>
        <div class="details-content">
            <p class="pclark">Patsy Clark Mansion</p>
            <p>2208 W 2nd Ave,</p> 
            <p>Spokane, WA 99201</p>
            <button class="map-button">Map</button>
            <p>Saturday, Sept 7, 2024</p>
            <p>3:00PM</p>
            <button class="hotels-button">Hotels</button>
        </div>
    </div>
        <div class="details-image-wrapper">
            <div class="details-image-background"></div>
            <div class="details-image">
                <img src="/GabbyAndJustinPost.jpg" alt="Gabby and Justin Post">
            </div>
        </div>
    </div>
</section>
