---
---

<section class="wedding-details">
    <div class="details-wrapper">
        <div class="detailsAndTitle">
        <h2>Wedding Details</h2>
        <div class="details-content">
            <p class="pclark">Patsy Clark Mansion</p>
            <p>2208 W 2nd Ave,</p> 
            <p>Spokane, WA 99201</p>
            <a target="_blank" href="https://www.google.com/maps/dir//2208+W+2nd+Ave,+Spokane,+WA+99201/@47.6547649,-117.5275715,12z">
            <button class="map-button home-button" id="global-button">Map</button>
            </a>
            <p>Saturday, Sept 7, 2024</p>
            <p>3:00PM</p>
            <a href="/accommodations">
            <button class="hotels-button home-button" id="global-button">Accommodations</button>
            </a>
        </div>
    </div>
        <div class="details-image-wrapper">
            <div class="details-image-background"></div>
            <div class="details-image">
                <img src="/GabbyAndJustinPost.jpg" alt="Gabby and Justin Post">
            </div>
        </div>
    </div>
</section>
